* {
    padding: 0;
    margin: 0;
}

/* Top-menu Start */
.top-menu {
    background-color: #2D3E50;
}

.top-menu .top-menu-content p {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
}

.top-menu .top-menu-right {
    background-color: #86BC42;
}

.top-menu .top-menu-right ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFF;
}

.top-menu .top-menu-right ul li a:hover {
    color: #2d3e50;
}

/* Top-menu End */

/* Main Menu Start */
.main-navbar {
    position: relative;
    z-index: 1000;
    transition: 0.3s;
}

.fixed-navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.main-menu a img {
    max-width: 100px;
    max-height: 100px;
}

.main-menu p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
}

.main-menu p span {
    color: #86bc42;
    font-size: 22px;
}

.main-menu .menu ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: #0F141A;
    text-transform: uppercase;
    padding: 10px 0px;
}

.main-menu .menu ul li a:hover {
    color: #86bc42;
    border-bottom: 1px solid #86BC42;
    padding-bottom: 9px;
}

/* Main Menu End */

.banner {
    background-image: url('/frontend/images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0px;
}

.banner h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    color: #86BC42;
    text-transform: uppercase;
}

.banner h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    color: #DFFF00;
    text-transform: uppercase;
}

.banner .left-container a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 48px;
    background-color: #86BC42;
    color: #FFFFFF;
    padding: 5px 30px;
    margin-top: 20px;
    text-transform: uppercase;
}

/* Celebration Section Start */
.Celebration {
    background-color: #2D3E50;
    padding-bottom: 50px;
}

.Celebration .content h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    background-color: #86BC42;
    color: #FFFFFF;
    padding: 30px 10px;
}

.Celebration .content h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    color: #FFFFFF;
    padding-top: 30px;
}

.Celebration .content p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    text-align: justify;
}

/* Celebration Section End */

/* History Section Start */
.history {
    background-color: #F2F2F2;
    padding: 90px 0px;
}

.history h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #404258;
    text-align: center;
    padding-bottom: 30px;
}

.history h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #404258;
    text-align: left;
}

.history p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #40427F;
    text-align: justify;
}

/* History Section End */

/* Important Date Section Start */
.important {
    background-image: url('/frontend/images/important.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0px;
}

.important h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 50px;
    text-transform: uppercase;
}

.important h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 20px;
    text-transform: capitalize;
}

.important p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
    text-transform: capitalize;
}

/* Important Date Section End */

/* Footer Start */

.footer {
    background-color: #2D3E50;
    padding: 50px 0px;
    margin-top: 90px;
}

.footer h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    color: #FFFFFF;
}

.footer h4 span {
    color: #86BC42;
}

.footer p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
}

.footer a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFF;
}

.footer a:hover {
    color: #7AB04A;
}

/* Footer End */

/* CopyWright Start */
.copyWright {
    background-color: #86BC42;
}

.copyWright p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFF;
    padding: 10px 0px;
    margin: 0;
}

/* CopyWright End */





/* Registration File Start */
/* Registration */
.registration {
    padding: 30px 0px 90px 0px;
}

.registration form h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: #FFFFFF;
    background-color: #86BC42;
    padding: 10px 10px;
}

/* Registration File End */


/* Profile File Start */
.profile {
    padding: 90px 0px;
}

.profile .top-content h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    color: #222222;
    text-align: center;
}

.profile .top-content p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #008000;
    text-align: justify;
    padding: 10px 0px;
}

.profile .rightSide h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #009933;
}

.profile .rightSide .table th,
.profile .rightSide .table td {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #222222;
}

/* Profile File End */


/* Student List Template File Start */
.studentsList {
    padding: 90px 0px;
}

.studentsList h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    color: #222222;
    text-align: center;
    padding-bottom: 15px;
}

/* Student List Template File End */

/* Gallery Section Start */
.gallery {
    padding-bottom: 90px;
    background-color: #F2F2F2;
}

.gallery h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    color: #222222;
    text-align: center;
    padding-bottom: 15px;
}

/* Gallery Section End */

/* Contact File Start */


.contact h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    color: #222222;
    text-align: center;
    padding-bottom: 15px;
}

/* Contact File End */


/* Merit File Start */
.meritsShow .profile-img {
    max-width: 100%;
    height: auto;
}

/* Merit File End */